html{
    font-size: 62.5%;
}

body{
    padding: 0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, rgb(194, 141, 48) , rgb(244, 217, 176));
}

.seccion_productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5em;
    gap: 2em;
    /*border: 0.2em dashed rgb(0, 68, 255);*/

}

.producto{
    border: 0.2em solid black;
    box-shadow: 0.2em 0.2em 0.2em black;
    max-width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
}

.producto img{
    max-width: 100%;
    height: 40%;
    object-fit: cover;
    box-shadow: 0.3em 0.2em 0.3em black;
}


.precio{
    font-weight: 900;
}

.producto button:hover{
    background-color: rgb(189, 101, 0);
    color: white;
}

.carrusel{
    background: rgb(255, 230, 183);
    display: flex;
    gap: 3em;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.op{
    border: 0.2em solid black;
    box-shadow: 0.2em 0.2em 0.2em black;
    padding: 0.2em;
    flex: 0 0 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: end;
}