html{
    font-size: 62.5%;
}

body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to bottom, pink);
    background-repeat: no-repeat;
}

#encabezado{
    border: 0.2em solid;
    display: flex;
    flex-direction: row;
    justify-content: right;
    color: beige;
}

#check{
    display: none;
}

.abrir{
    width: 8%;
    height: auto;
    padding: 0.5em;
    margin: 0.5em;
    background-color: beige;
    color: black;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 50%;
    transform: translateX(-50em);
}

.cerrar{
    width: 8%;
    height: auto;
    padding: 0.5em;
    margin: 0.5em;
    background-color: beige;
    color: black;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 50%;
    transform: translateX(-70em);
}

.cerrar{
    display: none;
}

#navegacion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    width: 15%;
    height: 100vh;
    /*Permite aplicar translaciones, rotaciones y escalas a un elemento HTML*/
    transform: translateX(100%);
    /*Se aplica una transicion: propiedad tiempo función*/
    transition: transform 2s ease-in-out;
    background-color: rgb(254, 155, 234);
    color: white;
}

#navegacion a{
    padding: 0.5em;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.5em;
}

#navegacion a:hover{
    background-color: rgb(237, 190, 174);
    color: black;
}

/*Introducción del menúlateral*/
/*
El sector ~ afecta a un elemento que esta a la altura de otro, así  cuando la pseudoclase
checked esta marcada aplica ciertos estilos
*/

#check:checked ~ #navegacion{
    transform: translateX(0%);
}

/*Ocultar el boton abrir*/
#check:checked ~ .abrir{
    display: none; 
}

/* Mostrando el boton salir*/
#check:checked ~ .cerrar{
    display: block;
}