html{
    font-size: 62.5%;
}

body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor--flotante{
    border: 0.2em dashed rgb(255, 252, 192);
}

.contenedor--flotante img{
    width: 30%;
    height: 20%;
    float: right;
}

.contenedor--flotante p{
    font-family: Georgia;
    text-align: center;
    font-size: 6em;
}

/*Consulta de medios o Medias Queries:
Sirven para definir estilos a elementos HTML, según el tamaño de la pantalla del dispositivo usado,
gracias a esto, se nos proporciona una herramiento para ña creación de diseños web resposivos 
y adaptables.*/
@media screen and (max-width: 300px){
    .contenedor--flotante p{
        font-family: Georgia;
        text-align: justify;
        font-size: 2em;
    }
}